@font-face {
  font-family: "LCK";
  src: url("../../../public/font/chaney-ultraextended.otf") format("truetype");
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SEBANG_Gothic_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}


/*=========================================== 여기서부터 PlayOFF ===========================================*/
.POloading {
  display: flex;
  width: 98vw;
  height: 50vw;
}
.POloading .center{
  width: fit-content;
  height: fit-content;
  margin: 15vw auto;
 }

.PlayOFF {
  position: relative;
  background: url(../../../public/img/PO.png) no-repeat center;
  background-size: 75%;
  width: 98vw;
  height: 50vw;
}

.playoffTeam {
  width: 4.5vw;
  height: 4.5vw;
  border: 0.2vw outset #caa299;
  border-radius: 0.521vw;
  transition: 1s cubic-bezier(1,-0.09,.97,.61);
}

.PlayOFF .rank6{
  position: absolute;
  top:15%;
  left:15.2%;
}
.PlayOFF .rank3{
  position: absolute;
  top:37.8%;
  left:15.2%;
}
.PlayOFF .ani3{
  animation: 1s ani3;
}
.PlayOFF .ani6{
  animation: 1s ani6;
}
.PlayOFF .rank4{
  position: absolute;
  top:52.8%;
  left:80.6%;
}
.PlayOFF .rank5{
  position: absolute;
  top:76%;
  left:80.6%;
}
.PlayOFF .ani4{
  animation: 1s ani4 2s;
}
.PlayOFF .ani5{
  animation: 1s ani5 2s;
}
.PlayOFF .vs36{
  position: absolute;
  top:67%;
  left:22.8%;
}
.PlayOFF .vs45{
  position: absolute;
  top:23.5%;
  left:73%;
  
}
.PlayOFF .win36{
  position: absolute;
  top:26.5%;
  left:22.8%;
}
.PlayOFF .win45{
  position: absolute;
  top:64%;
  left:73%;
}
.PlayOFF .ani36{
  animation: 1s ani36 1s;
}
.PlayOFF .ani45{
  animation: 1s ani45 1s;
}
.PlayOFF .anivs36{
  animation: 1s anivs36 4s;
}
.PlayOFF .anivs45{
  animation: 1s anivs45 4s;
}
.PlayOFF .game4_anivs45{
  animation: 1s game4_anivs45 1s;
}
.PlayOFF .game4_ani45{
  animation: 1s game4_ani45 4s;
}
.PlayOFF .game4_anivs36{
  animation: 1s game4_anivs36 1s;
}
.PlayOFF .game4_ani36{
  animation: 1s game4_ani36 4s;
}
.PlayOFF .final_left{
  animation: 1s final_left ;
}
.PlayOFF .final_right{
  animation: 1s final_right;
}

.PlayOFF .winvs36{
  position: absolute;
  top:45.2%;
  left:36%;
}
.PlayOFF .winvs45{
  position: absolute;
  top:45.2%;
  left:59.5%;
}
.PlayOFF .finalwinner{
  position: absolute;
  top:45.2%;
  left:48%;
}
.tImg {
  width: 90%;
  height: auto;
  margin: 5%;
}
.PlayOFF .trophy{
  width: 6%;
  height: auto;
  position: absolute;
  top:35%;
  left:47.2%;
}
.PlayOFF .trophymove{
  width: 6%;
  height: auto;
  position: absolute;
  top:27%;
  left:47.2%;
}
@keyframes ani6{
  0%{
    transform: translate(0%,0%);
    animation-timing-function: cubic-bezier(.73,-0.3,1,.69);
  }
  50%{
    transform: translate(100%,80%);
    animation-timing-function: cubic-bezier(.35,.7,.55,.93);
  }
  100%{
    transform: translate(0%,0%);
  }
}
@keyframes ani3{
  0%{
    transform: translate(0%,0%);
    animation-timing-function: cubic-bezier(.73,-0.3,1,.69);
  }
  50%{
    transform: translate(100%,-80%);
    animation-timing-function: cubic-bezier(.35,.7,.55,.93);
  }
  100%{
    transform: translate(0%,0%);
  }
}
@keyframes ani4{
  0%{
    transform: translate(0%,0%);
    animation-timing-function: cubic-bezier(.73,-0.3,1,.69);
  }
  50%{
    transform: translate(-100%,80%);
    animation-timing-function: cubic-bezier(.35,.7,.55,.93);
  }
  100%{
    transform: translate(0%,0%);
  }
}
@keyframes ani5{
  0%{
    transform: translate(0%,0%);
    animation-timing-function: cubic-bezier(.73,-0.3,1,.69);
  }
  50%{
    transform: translate(-100%,-80%);
    animation-timing-function: cubic-bezier(.35,.7,.55,.93);
  }
  100%{
    transform: translate(0%,0%);
  }
}


@keyframes ani36{
  0%{
    transform: translate(0%,0%);
    animation-timing-function: cubic-bezier(.73,-0.3,1,.69);
  }
  50%{
    transform: translate(190%,160%);
    animation-timing-function: cubic-bezier(.35,.7,.55,.93);
  }
  100%{
    transform: translate(0%,0%);
  }
}
@keyframes anivs36{
  0%{
    transform: translate(0%,0%);
    animation-timing-function: cubic-bezier(.73,-0.3,1,.69);
  }
  50%{
    transform: translate(190%,-190%);
    animation-timing-function: cubic-bezier(.35,.7,.55,.93);
  }
  100%{
    transform: translate(0%,0%);
  }
}
@keyframes anivs45{
  0%{
    transform: translate(0%,0%);
    animation-timing-function: cubic-bezier(.73,-0.3,1,.69);
  }
  50%{
    transform: translate(-200%,175%);
    animation-timing-function: cubic-bezier(.35,.7,.55,.93);
  }
  100%{
    transform: translate(0%,0%);
  }
}
@keyframes ani45{
  0%{
    transform: translate(0%,0%);
    animation-timing-function: cubic-bezier(.73,-0.3,1,.69);
  }
  50%{
    transform: translate(-200%,-175%);
    animation-timing-function: cubic-bezier(.35,.7,.55,.93);
  }
  100%{
    transform: translate(0%,0%);
  }
}

@keyframes game4_anivs45{
  0%{
    transform: translate(0%,0%);
    animation-timing-function: cubic-bezier(.73,-0.3,1,.69);
  }
  50%{
    transform: translate(-200%,175%);
    animation-timing-function: cubic-bezier(.35,.7,.55,.93);
  }
  100%{
    transform: translate(0%,0%);
  }
}
@keyframes game4_ani45{
  0%{
    transform: translate(0%,0%);
    animation-timing-function: cubic-bezier(.73,-0.3,1,.69);
  }
  50%{
    transform: translate(-200%,-175%);
    animation-timing-function: cubic-bezier(.35,.7,.55,.93);
  }
  100%{
    transform: translate(0%,0%);
  }
}
@keyframes game4_anivs36{
  0%{
    transform: translate(0%,0%);
    animation-timing-function: cubic-bezier(.73,-0.3,1,.69);
  }
  50%{
    transform: translate(190%,-190%);
    animation-timing-function: cubic-bezier(.35,.7,.55,.93);
  }
  100%{
    transform: translate(0%,0%);
  }
}
@keyframes game4_ani36{
  0%{
    transform: translate(0%,0%);
    animation-timing-function: cubic-bezier(.73,-0.3,1,.69);
  }
  50%{
    transform: translate(190%,160%);
    animation-timing-function: cubic-bezier(.35,.7,.55,.93);
  }
  100%{
    transform: translate(0%,0%);
  }
}
@keyframes final_right{
  0%{
    transform: translate(0%,0%);
    animation-timing-function: cubic-bezier(.73,-0.3,1,.69);
  }
  50%{
    transform: translate(-200%,0%);
    animation-timing-function: cubic-bezier(.35,.7,.55,.93);
  }
  100%{
    transform: translate(0%,0%);
  }
}
@keyframes final_left{
  0%{
    transform: translate(0%,0%);
    animation-timing-function: cubic-bezier(.73,-0.3,1,.69);
  }
  50%{
    transform: translate(200%,0%);
    animation-timing-function: cubic-bezier(.35,.7,.55,.93);
  }
  100%{
    transform: translate(0%,0%);
  }
}


/* ============================================== NO TOUCH =========================================== */
.underForPredict {
  background-color: #c6c6ca;
  height: 13vh;
  padding: 1rem 9% 0.5rem 12%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

#underPolo {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: "LCK";
  font-size: 1.8rem;
}

.exp {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.space {
  width: 10vw;
  height: 5vh;
}

.space1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  width: fit-content;
}

#explanation1 {
  color: gray;
  font-size: 14px;
  margin: 0 !important;
}

#explanation2 {
  color: gray;
  font-size: 18px;
  margin: 0 !important;
}
