@font-face {
  font-family: "LCK";
  src: url("../../../public/font/chaney-ultraextended.otf") format("truetype");
}

.container {
  margin: 0 !important;
}

#basic-navbar-nav {
  justify-content: flex-end !important;
}

.me-auto {
  margin: 0 !important;
}

.navbar {
  padding: 0.6rem 12%;
  background-color: #c6c6ca !important;
  font-family: "LCK";
}

.navbar-brand {
  font-size: 26px;
  margin-right: 2vw;
}

#navbarNavAltMarkup {
  flex-wrap: wrap;
  justify-content: right;
}

.nav-link {
  font-size: 1.2rem;
  margin: 0 1vw;
}

.managePage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 4rem;
  margin-bottom: 5rem;
}

.manageIn {
  display: flex;
  flex-flow: row nowrap;
}

.MMLeft {
  margin-right: 10rem;
}

.MMRight {
  margin-top: 1.5rem;
}

.manage {
  margin: 2rem;
}

.manageCoach {
  display: flex;
  flex-flow: column nowrap;
}

.CC1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.4rem;
}
