@font-face {
  font-family: "LCK";
  src: url("../../../public/font/chaney-ultraextended.otf") format("truetype");
}

.wrapper {
  display: flex;
  background: #dadada;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.above {
  padding: 0 12vw;
}

.Welcome {
  margin-top: 5rem;
  margin-bottom: 3rem;
  background: url("../../../public/img/LCK_3.png");
  height: 80vh;
  width: auto;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding-top: 1.5rem;
}

.welcome_act_1 {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.1s;
}

.welcome_act_2 {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.7s;
}

.welcome_act_3 {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.4s;
}

.welcome_act_4 {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 2.1s;
}

.welcome_act_5 {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 2.8s;
}

.action_title {
  font-family: "LCK";
  padding-left: 7rem;
}

.date-title {
  padding-top: 5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
  font-family: "LCK";
}

#calendar-title {
  margin-bottom: 0 !important;
  padding-left: 2rem;
  font-size: 30px;
  margin-right: 20px;
}

#small-title {
  margin-bottom: 0 !important;
  font-size: 30px;
}

.calendar {
  border: 2px solid skyblue;
  padding: 1rem;
}

.match {
  margin-top: 10rem;
  font-family: "LCK";
  font-size: 26px;
  padding-left: 4rem;
}

.today_match {
  margin-bottom: 10rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ti {
  font-family: "LCK";
}

.time {
  font-family: "LCK";
}

.matchBox {
  border: 2px solid teal;
  border-radius: 10px;
  width: 32vw;
}

.mat_top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 1rem 2rem;
  font-size: 23px;
  font-weight: 500;
}

.under {
  height: 25vh;
  background: #c6c6ca;

  display: grid;
  grid-template-columns: 50% 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.3fr;
}

.undertitle {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 2rem 4rem;
  padding-left: 10rem;
  font-family: "LCK";
}

.expla {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding-left: 10rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  font-size: 15px;
}

.menuList {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  font-family: "LCK";
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.lists {
  text-decoration: none;
  font-size: 1.2rem;
  color: gray;
}

.menuList :hover {
  color: black;
}
.images {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-around;
  padding-bottom: 1rem;
}

.images :hover {
  cursor: pointer;
}

.Copyright {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1rem;
}

#copy1 {
  margin-bottom: 0 !important;
}

.slide-in-left {
  -webkit-animation: slide-in-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
