.wrapper {
  display: flex;
  background: whitesmoke;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.above {
  padding: 0 14rem;
}

.date-title {
  padding-top: 5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

#calendar-title {
  margin-bottom: 0 !important;
  padding-left: 2rem;
  font-weight: 650;
  font-size: 30px;
  margin-right: 20px;
}

#small-title {
  margin-bottom: 0 !important;
  font-weight: 650;
  font-size: 26px;
}

.calendar {
  border: 2px solid skyblue;
  padding: 2rem;
}

.match {
  margin-top: 10rem;
  font-size: 30px;
  font-weight: 650;
  padding-left: 4rem;
}

.today_match {
  height: 35vh;
  margin-bottom: 10rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.match1 {
  border: 2px solid teal;
  width: 32vw;
}

.match2 {
  border: 2px solid teal;
  width: 32vw;
}

.mat_top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 1rem 2rem;
  font-size: 23px;
  font-weight: 500;
}

.under {
  border-top: 2px solid gray;
  height: 25vh;
  background: gainsboro;

  display: grid;
  grid-template-columns: 50% 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.3fr;
}

.undertitle {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 2rem 4rem;
}

.expla {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding-left: 4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  font-size: 15px;
}

.menuList {
  grid-column: 3 / 4;
  grid-row: 1 / 4;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.lists {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
.images {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-around;
  padding-bottom: 1rem;
}

.images :hover {
  cursor: pointer;
}

.Copyright {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1rem;
}

#copy1 {
  margin-bottom: 0 !important;
}
