@font-face {
  font-family: "LCK";
  src: url("../../../public/font/chaney-ultraextended.otf") format("truetype");
}
.Prewrapper {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 3rem;
  justify-content: space-around;
  background: #dadada;
}

.aboveForPredict {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  padding: 0 14rem;
  padding-bottom: 6rem;
  padding-top: 3rem;
}

.belowForPredict {
}

.nowMatch {
  grid-column: 1 / 2;

  padding-right: 2rem;
  display: flex;
  flex-flow: column wrap;

  justify-content: flex-start;
}

#todayResult {
  font-size: 1.4rem;
}

#finalResult {
  font-size: 1.4rem;
}

.matchBox {
  height: 40vh;
  margin-top: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.box1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  height: 18vh;
  border: 2px solid skyblue;
}

.txt1 {
  font-size: 1.3rem;
  font-family: "LCK";
  margin: 0.5rem auto;
}

.finalRank {
  grid-column: 2 / 3;
  margin-right: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.rOrder {
  width: 4vw;
  font-family: "LCK";
}

.tName {
  font-family: "LCK";
}

.percent {
  display: flex;
  justify-content: center;
  font-family: "LCK";
}

.tbRanked {
  margin-top: 1rem;
  border-top: 2px solid #d3d7f0 !important;
  border-bottom: 2px solid #d3d7f0 !important;
}

.tabHead {
  background: #d3d7f0 !important;
  font-family: "LCK";
}

.ranking {
  width: 3w !important;
}

.teamN {
  padding-left: 1rem !important;
}

.predictRate {
  display: flex;
  justify-content: center;
}

.nav-link {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

#toHomeTxt {
  color: black;
  font-family: "LCK";
  font-size: 1.5rem;
  margin-bottom: 3px !important;
  margin-right: 1rem;
}

.underForPredict {
  background-color: #c6c6ca;
  height: 13vh;
  padding: 1rem 12rem 0.5rem 14rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

#underPolo {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: "LCK";
  font-size: 1.8rem;
}

.exp {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.space {
  width: 10vw;
  height: 5vh;
}

.space1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  width: fit-content;
}

#explanation1 {
  color: gray;
  font-size: 14px;
  margin: 0 !important;
}

#explanation2 {
  color: gray;
  font-size: 14px;
  margin: 0 !important;
}
