.Prewrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 100%;
  padding: 2rem 14rem;
  background: whitesmoke;
}

.left {
  grid-column: 1/2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 5fr;
}

.nowMatch {
  grid-row: 1 / 2;

  padding-right: 2rem;
  display: flex;
  flex-flow: column wrap;

  justify-content: flex-start;
}

#todayResult {
  font-size: 1.4rem;
}

#finalResult {
  font-size: 1.4rem;
}

.matchBox {
  height: 36vh;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.box1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  height: 17vh;
  border: 2px solid skyblue;
}

.txt1 {
  font-size: 1.3rem;
  margin: 0.5rem auto;
}

.finalRank {
  grid-row: 2 / 3;
  margin-top: 1rem;
  margin-right: 2rem;
}

.rOrder {
  font-weight: 600;
  width: 4vw;
}

.tName {
  font-weight: 600;
}

.percent {
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.right {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 5% 95%;
}

#nextMatch {
  font-size: 1.4rem;
  grid-row: 1/2;
  display: flex;
}

.matchHistory {
  grid-row: 2/3;
}

.carousel {
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.inner {
  width: 34vw;
}

.carousel-control-prev {
  justify-content: flex-start;
  margin-right: 0 !important;
  width: min-content;
}

.carousel-control-next {
  justify-content: flex-end;
  margin-right: 0 !important;
  width: min-content;
}

.Mdate {
  font-size: 1.5rem;
  font-weight: 600;
}

.tabHead {
  background: #d3d7f0 !important;
}

.ranking {
  padding-left: 1rem !important;
  width: 3w !important;
}

.predictRate {
  display: flex;
  justify-content: center;
  font-weight: 700 !important;
}

.le {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 3rem;
  margin: 0 auto !important;
  height: 5vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
