.scheduleTimeLine {
  border: 2px solid rebeccapurple;
  display: grid;
  grid-template-columns: 5% 90% 5%;
}

.timeLineEffect{
  border: 4px solid royalblue;
}

.scheduleTimeList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

.scheduleGameDiv {
  border: 2px solid cadetblue;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}

.scheduleGame1{
  padding: 10px;
  border-right: 1px solid gray;
  height: 150px;
  display: grid;
  grid-template-rows: 30% 70%;
}

.scheduleGame2{
  padding: 10px;
  border-left: 1px solid gray;
  height: 150px;
  display: grid;
  grid-template-rows: 30% 70%;
}

.scheduleMatch{
  display: grid;
  grid-template-columns: 45% 10% 45%;
}

.scheduleVS {
  display: grid;
  justify-items: center;
  align-items: center;
}

.scheduleTeam {
  display: grid;
  grid-template-rows: 70% 30%;
}

.scheuleTeamImg {
  display: grid;
}

.scheuleTeamImg > img{
  display: grid;
  justify-self: center;
  max-width: 50%;
}

.scheduleTeamName{
  display: grid;
  justify-self: center;
  align-self: center;
}