#container {
  display: flex;
}

#map {
  background: url("https://www.leagueoflegends.com/static/base-2x-1f52ee2c1820c7cfe9031a6f7524c7b5.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70vw;
  width: 100vw;
}

.icon {
  fill: rgb(241, 0, 0);
}
.fontcolor {
  color: rgb(241, 0, 0);
  left: -50%;
}
.Tposition {
  position: absolute;
  top: 15%;
  left: 25%;
  height: 38.5vw;
  width: 55vw;
}
.jungle {
  position: absolute;
  left: 30%;
  top: 48%;
  height: 30px;
  width: 30px;
}
.mid {
  position: absolute;
  left: 48%;
  top: 43%;
}
.top {
  position: absolute;
  left: 20%;
  top: 15%;
}
.supporter {
  position: absolute;
  left: 80%;
  top: 85%;
}
.ADC {
  position: absolute;
  left: 85%;
  top: 85%;
}

.inline {
  display: inline;
}
