@font-face {
  font-family: "LCK";
  src: url("../../../public/font/chaney-ultraextended.otf") format("truetype");
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SEBANG_Gothic_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.championsContainer{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly !important;
}

.championsLineImg{
  display: grid;
  align-content: center;
}

.championsBox{
  display: flex;
  flex-flow: row nowrap;
  border: 2px solid rebeccapurple;
}

.championsInfo{
  display: flex;
  flex-flow: row nowrap;
  border: 2px solid green;
}

.championsChamp {
  border: 3px solid blue;
  display: flex;
  flex-flow: row nowrap;
}