@font-face {
  font-family: "LCK";
  src: url("../../../public/font/chaney-ultraextended.otf") format("truetype");
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SEBANG_Gothic_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.championsContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly !important;
  border-radius: 10px;
  margin: 8vw -8vw;
}

.championsLineImg{
  display: grid;
  justify-content: center;
}

.championsLineText{
  text-align: center;
}

.championsBox{
  border: 4px outset #caa299;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 0.5rem;
}


.championsChamp {
  display: grid;
  grid-template-columns: 120px 120px;
  margin: 0.5rem 0;
}

.championsChampPic > img{
  /* width: 80%;
  height: 80px; */
  /* min-height: 218px; */
}

.championsChampInfo {
  display: grid;
  grid-template-rows: 50% 25% 25%;
  font-size: 0.7rem;
  font-family: 'LCK';
  text-align: center;
  background-color: rgb(196, 196, 196);
  color: black;
}

.championsChampInfo > div {
  border-bottom: 1px solid black;
  display: grid;
  align-items: center;
}



