@font-face {
  font-family: "LCK";
  src: url("../../../public/font/chaney-ultraextended.otf") format("truetype");
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SEBANG_Gothic_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.Champions {
  display: flex;
  flex-flow: column nowrap;
}

.Champions > h2 {
  text-align: center;
  font-family: 'SEBANG_Gothic_Bold';
  margin-bottom: 2rem;
}
.championsContainer{
  display: flex;
  flex-flow: column wrap;
  margin: 0vw 1vw;
  border: 3px outset #caa299;
  border-radius: 10px;
}

.championsContainer > h2 {
  font-size: 1.5rem;
  font-family: "SEBANG_Gothic_Bold";
  text-align: center;
  margin: 1rem 0 .5rem 0;
  border-bottom: 3px outset #caa299;
}


.championsLineImg{
  display: grid;
  align-content: center;
  margin-right: .5vw;
}

.championsBox{
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 3px outset #caa299;
  padding: 1rem;
}

.championsInfo{
  display: flex;
  flex-flow: row nowrap;
}

.championsChamp {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 10px;
  margin: 0 .5vw;
  border: 2px solid black;
  border-radius: 10px;
}

.championsChampPic{
  padding: 0 1rem;
  background-color: #1F2247;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.championsChampInfo{
  display: grid;
  grid-template-columns: 45% 10% 45%;
  text-align: center;
  background-color: #F1F0EC;
  border-radius: 10px;
}

.championsChampInfo > div:nth-child(2){
  font-weight:900;
}

.championsChampBanPick {
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
}

.banPickNum{
   font-family: 'SEBANG_Gothic_Bold';
   font-size: 1rem;
}
.championsChampBanPick > div:nth-child(2){
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
}

#lastBox {
  border: none !important;
}

/* .finalRank {
  display: grid;
  align-self: center;
} */

#finalResult {
  font-size: 1.5rem;
  font-family: "SEBANG_Gothic_Bold";
  text-align: center;
  margin: 1rem 0 2rem 0;
}

.tbRanked {
  border-top: 2px solid #d3d7f0 !important;
  border-bottom: 2px solid #d3d7f0 !important;
  width: 24vw;
}
.tabHead {
  background: #d3d7f0 !important;
  font-family: "LCK";
  text-align: center;
}

.ranking {
  justify-content: center;
  width: fit-content !important;
}

.rOrder {
  display: flex;
  flex-direction: row;
  justify-self: center;
  font-family: "LCK";
  border: none;
}

#tRanked {
  font-size: 1.2rem;
  margin: 0 auto !important;
}

.teamN {
  padding-left: 1rem !important;
}

.tName {
  font-family: "SEBANG_Gothic_Bold";
  padding-right: 3rem !important;
  font-size: 1rem;
}
#rankTeamImg {
  padding-right: 0.7rem;
}
